{% extends "auctions/layout.html" %}
{% load my_filters %}
{% block title %}
    : Browse Active Listings
{% endblock %}

{% block body %}
<div class="container main-content">
<div class="row pt-1 bg-yellow">
    <div class="col">
    <ul class="nav nav-pills mb-1 sub-nav" id="pills-tab" role="tablist">
        <li class="nav-item pill-section" role="presentation">
            <a class="nav-link disabled" id="pills-bids-tab" data-bs-toggle="pill" href="" role="tab" aria-controls="pills-bids" aria-selected="false">Browse By: </a>
        </li>  
        <li class="nav-item pill-sub" role="presentation">
            <a class="nav-link active" id="pills-pet-type-tab" data-bs-toggle="pill" href="#pills-pet-type" role="tab" aria-controls="pills-pet-type" aria-selected="true"><i class="fas fa-paw"></i> Pet Type</a>
        </li>    
        <li class="nav-item pill-sub" role="presentation">
            <a class="nav-link" id="pills-category-tab" data-bs-toggle="pill" href="#pills-category" role="tab" aria-controls="pills-category" aria-selected="false"><i class="fas fa-mask"></i> Costume Category</a>
        </li>
    </ul>
    </div>
</div>
{% if messages %}
<div class="row">
    <div class="col-12 p-4">
        <div id="messages">
            
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}"{% endif %} role="alert">
                    {{ message }}
                </div>
            {% endfor %}     
                    
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col p-4">
    <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane show active" id="pills-pet-type" role="tabpanel" aria-labelledby="pills-pet-type-tab">
            
            <div id="accordion">
                {% for pet_dict in pet_listings %}
                <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link browse-header" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            {% for pet_type in pet_dict %}
                                {{ pet_type }} Costumes
                            {% endfor %}
                        </button>
                    </h5>
                    </div>
                
                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-hover table-borderless">
                                <tbody>
                                
                                {% for pet_type, listings in pet_dict.items %}
                                    {% for listing in listings %}
                                    
                                        {% if forloop.counter < 11 %}
                                        <tr class="d-flex">
                                            <td class="col-lg-2 col-md-4"><a href="{% url 'listing' listing.id %}"><img src="{{ listing.imageURL }}" class="rounded browse-img-thumbnail" alt="{{ listing.title }} Image"></a></td>
                                            <td class="col-lg-7 col-md-5 justify-content-start">
                                                
                                                <a href="{% url 'listing' listing.id %}"><h3>{{ listing.title }}</h3></a>
                                                <p>{{ listing.description }}</p>
                                                
                                            </td>
                                            <td class="col-lg-3"><div class="text-center browse-price-box"><p>High Bid: {{ listing.current_price | currency }}</p></div></td>
                                        </tr>
                                        {% elif forloop.last %}
                                        <tr class="d-flex">
                                            <td class="col-12 text-center"><p><strong>
                                            <a href="{% url 'category' pet_type|slugify %}">View all {{ pet_type }} listings</a>
                                                </strong></p>
                                            </td>
                                        </tr>
                                        {% endif %}

                                    {% empty %}

                                        <em>No active listings</em>
                                    
                                    {% endfor %}
                                {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="tab-pane" id="pills-category" role="tabpanel" aria-labelledby="pills-category-tab">
            <div id="accordion">
                {% for category_dict in categorized_listings %}
                <div class="card">
                    <div class="card-header" id="category-heading{{ forloop.counter }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link browse-header" data-toggle="collapse" data-target="#category-collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="category-collapse{{ forloop.counter }}">
                            {% for category_name in category_dict %}
                            {{ category_name }} Costumes
                            {% endfor %}
                        </button>
                    </h5>
                    </div>
                
                    <div id="category-collapse{{ forloop.counter }}" class="collapse" aria-labelledby="category-heading{{ forloop.counter }}" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-hover table-borderless">
                                <tbody>

                                {% for category_name, category_listings in category_dict.items %}
                                    {% for listing in category_listings %}
                                    
                                        {% if forloop.counter < 11 %}
                                        <tr class="d-flex">
                                            <td class="col-lg-2 col-md-4"><a href="{% url 'listing' listing.id %}"><img src="{{ listing.imageURL }}" class="rounded browse-img-thumbnail" alt="{{ listing.title }} Image"></a></td>
                                            <td class="col-lg-7 col-md-5 justify-content-start">
                                                
                                                <a href="{% url 'listing' listing.id %}"><h3>{{ listing.title }}</h3></a>
                                                <p>{{ listing.description }}</p>
                                                
                                            </td>
                                            <td class="col-lg-3"><div class="text-center browse-price-box"><p>High Bid: {{ listing.current_price | currency }}</p></div></td>
                                        </tr>
                                        {% elif forloop.last %}
                                        <tr class="d-flex">
                                            <td class="col-12 text-center"><p><strong><a href="{% url 'category' category_name|slugify %}">View all {{ category_name }} listings </a></strong></p>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% empty %}
                                    <tr class="d-flex">
                                        <td class="col-12 text-center">
                                            <p><em>No active listings</em></p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
</div>
</div>
{% endblock %}