{% extends "auctions/layout.html" %}
{% load my_filters %}

{% block title %}
    Pet Costumes Auction
{% endblock %}

{% block body %}

<div class="container main-content">
    <div class="row pt-1 bg-yellow">
        <div class="col">
        <ul class="nav nav-pills mb-1 sub-nav" id="pills-tab" role="tablist">
            <li class="nav-item pill-sub" role="presentation">
                <a href="{% url 'browse' %}" class="nav-link" id="pills-subnav">Browse: {{ category }} Costumes</a>
            </li>
        </ul>
        </div>
    </div>
    <div class="row">
        <div class="col p-4 ">
            <div class="container rounded border border-light main-lt-bg">
                <div class="row">
                <div class="col p-4">
                    <h1>{{ category }} Costumes</h1>
                    <div class="card-columns text-center">
                        {% for listing in listings %}
                        <div class="card text-center" style="width: 18rem;">
                            <a href="{% url 'listing' listing.id %}"><img class="card-img-top card-img-thumbnail" src="{{ listing.imageURL }}" alt="Card image cap"></a>
                            <div class="card-img-overlay img-price-bg"><div class="img-price-txt">{{ listing.current_price | currency }}</div></div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'listing' listing.id %}"><h3>{{ listing.title }}</h3></a></h5>
                                <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-sm">View Listing</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}