{% extends "auctions/layout.html" %}

{% block title %}
    Pet Costumes Auction
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
        <li>
            <a href="{% url 'listing' listing.id %}">
            {{ listing.title }}
            </a>
            - Current Price: {{ listing.current_price }}
        </li>
        {% endfor %}
    </ul>

    <h2>Closed Auctions</h2>

    <ul>
        {% for listing in ended %}
        <li>
            <a href="{% url 'listing' listing.id %}">
            {{ listing.title }}
            </a>
            - Winner: {{ listing.winner }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}