{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>

    <p>{{ listing.description }}</p>

    <img src="{{ listing.imageURL }}">

    <h4>Current Price: ${{ price }}</h4>

    {% if user.is_authenticated %}
        <form action="{% url 'bid' listing.id %}" method="POST">
            {% csrf_token %}
            {{ bid_form.as_p }}
            <input type="submit" value="Place Bid">
        </form>
    {% else %}
        <h5>Register or sign in to start bidding!</h5>
    {% endif %}

    <h4>Bid History</h4>
    {% for bid in bids %}
        <li>
            {{ bid.bidder }} bid ${{ bid.amount }} on {{ bid.bid_timestamp|date:"n/j/y" }} {{ bid.bid_timestamp|time:"H:i e" }} 
        </li>
    {% empty %}
        <em>No bids yet!</em>
    {% endfor %}

{% endblock %}