{% extends "auctions/layout.html" %}

{% block body %}
<div class="container main-content">
    <div class="row pt-1 bg-yellow">
        <div class="col p-3">
        </div>
    </div>
    <div class="row">
        <div class="col p-4">
            <div class="container rounded border border-light main-lt-bg">
                <div class="row">
                <div class="col p-4">

                    <h1>Login</h1>

                    {% if message %}
                        <div>{{ message }}</div>
                    {% endif %}

                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Login">
                    </form>

                    
                </div>
                </div>
                <div class="row">
                    <div class="col p-4">
                        <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}