{% extends "auctions/layout.html" %}

{% block title %}
    : Add Listing
{% endblock %}

{% block body %}
<div class="container main-content">
    <div class="row pt-1 bg-yellow">
        <div class="col p-3">
        </div>
    </div>
    <div class="row">
        <div class="col p-4">
            <div class="container rounded border border-light main-lt-bg">
                <div class="row">
                <div class="col p-4 ">
                    <h1>Create a New Listing</h1>
                    <hr class="pb-3">
                    {% if user.is_authenticated %}
                    <form action="{% url 'new' %}" method="POST">
                        {% csrf_token %}
                        {{ new_listing_form.as_p }} 
                        <input type="submit" value="Add Listing">
                    </form>
                    {% else %}
                        <h5>Register or sign in to create a new auction listing!</h5>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}